* {
    box-sizing: border-box;
}
body,
p,
span,
h1,
h2,
h3,
div {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 1352px;
    padding: 0 20px;
    margin: 0 auto;
}

.tags {
    margin: 46px 0;
}

.tag {
    border: 1px solid rgba(0, 0, 0, 0.5);
    display: inline-block;
    padding: 16px;
    margin-bottom: 20px;
}

.tag:not(:last-child) {
    margin-right: 24px;
}

.tag span {
    font-size: 15px;
    line-height: 1.2;
    color: #9F9F9F;
}

.portfolio {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 135px;
}

.portfolio .col {
    width: 32%;
}

.item {
    width: 100%;
    min-height: 1px;
    height: auto;
    margin-bottom: 35px;
    padding: 40px 30px;
}


.item img {
    max-height: 50px;
    max-width: 100%;
}

.description {
    font-weight: 500;
    font-size: 15px;
    line-height: 1.2;
    color: #000000;
}

.link-wrap {
    margin: 45px 0;
    width: 80%;
}
.link-wrap span {
    font-weight: 300;
    font-size: 20px;
    line-height: 1.5;
    color: #000000;
}
.title-project {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
    color: #000000;
    text-decoration: none;
    border-bottom: 1px solid #000;
    transition: .3s ease-in-out;
}
.title-project:hover {
    border-bottom: 1px solid transparent;
    
}
.review {
    font-weight: 500;
    font-size: 15px;
    line-height: 1.2;
    color: #000000;
    text-decoration: none;
    border-bottom: 1px solid #000;
    width: 70%;
}

.item-tags {
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
    flex-wrap: wrap;
    width: 80%;
}

.item-tag {
    font-size: 15px;
    line-height: 1.2;
    color: #000000;
    margin-right: 5px;
   
}
.item-tag:not(:last-child) {
    margin-bottom: 7px;
}

.item-tag>span:first-child {
    font-weight: 400;
    margin-right: 7px;
    font-style: normal;
}

.item-tag>span {
    font-weight: 300;
}

.bg-gray {
    background-color: rgba(196, 196, 196, 0.1);

}

.bg-yellow {
    background-color: #FCD306;
}

.bg {
    position: relative;
    z-index: 0;
    overflow: hidden;
}

.bg-img1 {
    position: absolute;
    background-repeat: no-repeat;
    background-image: url(img/bg-img1.png);
    width: 200px;
    height: 285px;
    right: 0;
    bottom: 0;
    z-index: -1;
}
.bg-img2 {
    position: absolute;
    background-repeat: no-repeat;
    background-image: url(img/bg-img2.png);
    width: 152px;
    height: 334px;
    right: 0;
    top: 5%;
    z-index: -1;
}
.bg-img3 {
    position: absolute;
    background-repeat: no-repeat;
    background-image: url(img/bg-img3.png);
    width: 152px;
    height: 334px;
    right: 0;
    top: 5%;
    z-index: -1;
}
.bg-img4 {
    position: absolute;
    background-repeat: no-repeat;
    background-image: url(img/bg-img4.png);
    width: 213px;
    height: 150px;
    right: 0;
    bottom: 0;
    z-index: -1;
}
.bg-img5 {
    position: absolute;
    background-repeat: no-repeat;
    background-image: url(img/bg-img5.png);
    width: 248px;
    height: 386px;
    right: -16%;
    top: 6%;
    z-index: -1;
}
.bg-img6 {
    position: absolute;
    background-repeat: no-repeat;
    background-image: url(img/bg-img6.png);
    width: 248px;
    height: 366px;
    right: -16%;
    bottom: -10%;
    z-index: -1;
}

@media (max-width: 900px) {
    .portfolio {
        padding-bottom: 85px;
    }
    
    .portfolio .col {
        width: 100%;
        display: flex;
    }
    .item {
        margin-bottom: 15px;
        padding: 40px 10px 40px 30px;
    }
    .item:not(:last-child) {
        margin-right: 15px;
    }
    .title-project, .link-wrap span {
        font-size: 18px;
    }
    .link-wrap, .item-tags {
        width: 100%;
    }
    .item-tags {
        white-space: normal;
    }
}
@media (max-width: 650px) {
    .portfolio {
        padding-bottom: 60px;
    }
    .col {
        flex-direction: column;
    }
    .opacity-1 {
        opacity: 0.1;
    }
    .opacity-2 {
        opacity: 0.2;
    }
    .opacity-3 {
        opacity: 0.3;
    }
    .opacity-4 {
        opacity: 0.4;
    }
    .opacity-5 {
        opacity: 0.5;
    }
    .opacity-6 {
        opacity: 0.6;
    }
    .opacity-7 {
        opacity: 0.7;
    }
    .opacity-8 {
        opacity: 0.8;
    }
    .opacity-9 {
        opacity: 0.9;
    }
}